In [22]:
import pandas as pd
import sys
from icecream import ic
from sklearn.preprocessing import StandardScaler
sys.path.append("./../projectname")
from projectname.config import raw_data_dir
from projectname.config import clean_data_dir

In [23]:
# Load the dataset
bookings_path = raw_data_dir / 'bookings.csv'
bookings_df = pd.read_csv(bookings_path)
bookings_df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07

# Handle Missing Values

In [24]:
missing_values = bookings_df.isnull().sum()
missing_values = missing_values[missing_values > 0]
ic(missing_values)

ic| missing_values: children         4
                    country        488
                    agent        16340
                    company     112593
                    dtype: int64

children         4
country        488
agent        16340
company     112593
dtype: int64

In [25]:
# Step 1: Handle Missing Values
bookings_df['children'] = bookings_df['children'].fillna(bookings_df['children'].median())
bookings_df['country'] = bookings_df['country'].fillna(bookings_df['country'].mode()[0])
bookings_df['agent'] = bookings_df['agent'].fillna(-1)  # Using -1 to indicate missing agent
bookings_df['company'] = bookings_df['company'].fillna(-1)  # Using -1 to indicate missing company
bookings_df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,-1.0,-1.0,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,-1.0,-1.0,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,-1.0,-1.0,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,-1.0,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,-1.0,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,No Deposit,394.0,-1.0,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,9.0,-1.0,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,9.0,-1.0,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89.0,-1.0,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,9.0,-1.0,0,Transient,151.20,0,2,Check-Out,2017-09-07

In [26]:
# Step 2: Convert Categorical Variables
# Drop 'reservation_status_date' before encoding
bookings_df.drop(columns=['reservation_status_date'], inplace=True)

categorical_cols = bookings_df.select_dtypes(include=['object']).columns
categorical_cols

bookings_df.to_csv(clean_data_dir / "bookings_clean.csv")

# Perform one-hot encoding on categorical columns
bookings_df = pd.get_dummies(bookings_df, columns=categorical_cols, drop_first=True)
bookings_df

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,...,assigned_room_type_K,assigned_room_type_L,assigned_room_type_P,deposit_type_Non Refund,deposit_type_Refundable,customer_type_Group,customer_type_Transient,customer_type_Transient-Party,reservation_status_Check-Out,reservation_status_No-Show
0,0,342,2015,27,1,0,0,2,0.0,0,...,False,False,False,False,False,False,True,False,True,False
1,0,737,2015,27,1,0,0,2,0.0,0,...,False,False,False,False,False,False,True,False,True,False
2,0,7,2015,27,1,0,1,1,0.0,0,...,False,False,False,False,False,False,True,False,True,False
3,0,13,2015,27,1,0,1,1,0.0,0,...,False,False,False,False,False,False,True,False,True,False
4,0,14,2015,27,1,0,2,2,0.0,0,...,False,False,False,False,False,False,True,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,0,23,2017,35,30,2,5,2,0.0,0,...,False,False,False,False,False,False,True,False,True,False
119386,0,102,2017,35,31,2,5,3,0.0,0,...,False,False,False,False,False,False,True,False,True,False
119387,0,34,2017,35,31,2,5,2,0.0,0,...,False,False,False,False,False,False,True,False,True,False
119388,0,109,2017,35,31,2,5,2,0.0,0,...,False,False,False,False,False,False,True,False,True,False
119389,0,205,2017,35,29,2,7,2,0.0,0,...,False,False,False,False,False,False,True,False,True,False

In [27]:
# Step 4: Normalize/Scale Features
scaler = StandardScaler()
scaled_columns = ['lead_time', 'arrival_date_week_number', 'arrival_date_day_of_month',
                  'stays_in_weekend_nights', 'stays_in_week_nights', 'adults', 'children',
                  'babies', 'adr', 'days_in_waiting_list', 'required_car_parking_spaces',
                  'total_of_special_requests']

bookings_df[scaled_columns] = scaler.fit_transform(bookings_df[scaled_columns])
bookings_df

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,...,assigned_room_type_K,assigned_room_type_L,assigned_room_type_P,deposit_type_Non Refund,deposit_type_Refundable,customer_type_Group,customer_type_Transient,customer_type_Transient-Party,reservation_status_Check-Out,reservation_status_No-Show
0,0,2.227051,2015,-0.012141,-1.685297,-0.928890,-1.310240,0.247897,-0.260659,-0.081579,...,False,False,False,False,False,False,True,False,True,False
1,0,5.923385,2015,-0.012141,-1.685297,-0.928890,-1.310240,0.247897,-0.260659,-0.081579,...,False,False,False,False,False,False,True,False,True,False
2,0,-0.907814,2015,-0.012141,-1.685297,-0.928890,-0.786207,-1.478447,-0.260659,-0.081579,...,False,False,False,False,False,False,True,False,True,False
3,0,-0.851667,2015,-0.012141,-1.685297,-0.928890,-0.786207,-1.478447,-0.260659,-0.081579,...,False,False,False,False,False,False,True,False,True,False
4,0,-0.842309,2015,-0.012141,-1.685297,-0.928890,-0.262174,0.247897,-0.260659,-0.081579,...,False,False,False,False,False,False,True,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,0,-0.758089,2017,0.575875,1.617366,1.073895,1.309924,0.247897,-0.260659,-0.081579,...,False,False,False,False,False,False,True,False,True,False
119386,0,-0.018822,2017,0.575875,1.731251,1.073895,1.309924,1.974242,-0.260659,-0.081579,...,False,False,False,False,False,False,True,False,True,False
119387,0,-0.655153,2017,0.575875,1.731251,1.073895,1.309924,0.247897,-0.260659,-0.081579,...,False,False,False,False,False,False,True,False,True,False
119388,0,0.046682,2017,0.575875,1.731251,1.073895,1.309924,0.247897,-0.260659,-0.081579,...,False,False,False,False,False,False,True,False,True,False
119389,0,0.945032,2017,0.575875,1.503481,1.073895,2.357989,0.247897,-0.260659,-0.081579,...,False,False,False,False,False,False,True,False,True,False

In [28]:
# Step 5: Remove Duplicates
bookings_df = bookings_df.drop_duplicates()
bookings_df

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,...,assigned_room_type_K,assigned_room_type_L,assigned_room_type_P,deposit_type_Non Refund,deposit_type_Refundable,customer_type_Group,customer_type_Transient,customer_type_Transient-Party,reservation_status_Check-Out,reservation_status_No-Show
0,0,2.227051,2015,-0.012141,-1.685297,-0.928890,-1.310240,0.247897,-0.260659,-0.081579,...,False,False,False,False,False,False,True,False,True,False
1,0,5.923385,2015,-0.012141,-1.685297,-0.928890,-1.310240,0.247897,-0.260659,-0.081579,...,False,False,False,False,False,False,True,False,True,False
2,0,-0.907814,2015,-0.012141,-1.685297,-0.928890,-0.786207,-1.478447,-0.260659,-0.081579,...,False,False,False,False,False,False,True,False,True,False
3,0,-0.851667,2015,-0.012141,-1.685297,-0.928890,-0.786207,-1.478447,-0.260659,-0.081579,...,False,False,False,False,False,False,True,False,True,False
4,0,-0.842309,2015,-0.012141,-1.685297,-0.928890,-0.262174,0.247897,-0.260659,-0.081579,...,False,False,False,False,False,False,True,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,0,-0.758089,2017,0.575875,1.617366,1.073895,1.309924,0.247897,-0.260659,-0.081579,...,False,False,False,False,False,False,True,False,True,False
119386,0,-0.018822,2017,0.575875,1.731251,1.073895,1.309924,1.974242,-0.260659,-0.081579,...,False,False,False,False,False,False,True,False,True,False
119387,0,-0.655153,2017,0.575875,1.731251,1.073895,1.309924,0.247897,-0.260659,-0.081579,...,False,False,False,False,False,False,True,False,True,False
119388,0,0.046682,2017,0.575875,1.731251,1.073895,1.309924,0.247897,-0.260659,-0.081579,...,False,False,False,False,False,False,True,False,True,False
119389,0,0.945032,2017,0.575875,1.503481,1.073895,2.357989,0.247897,-0.260659,-0.081579,...,False,False,False,False,False,False,True,False,True,False

In [29]:
bookings_clean_path = clean_data_dir / 'bookings.csv'
bookings_df.to_csv(bookings_clean_path)